[development]
last 2 versions
Firefox ESR
not dead
maintained node versions

[production]
> 0.5%
last 2 versions
Firefox ESR
not dead
maintained node versions

[modern]
last 2 chrome versions
last 2 firefox versions
last 2 safari versions
last 2 edge versions

[ssr]
node 18
node 20